**/node_modules
.git
**/.git

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.env
.env.*
!.env.example

.DS_Store
.cache
**/.cache
.vite
**/.vite
dist
**/dist
build
**/build
coverage
**/coverage

.gitignore
.github
